<% provide(:title, @user.name) %>
<div class="info">
  
  <div class="avatar">
   <%= render 'shared/avatar', locals: {user: @user, size: "100x100", class: "img-circle"} %>
  </div>
  
  <div class="information">
    <b><%= @user.name %></b></br>
    <b><%= @user.posts.count %> posts</b></br>
    <b><%= link_to "Friends", user_friendships_path(@user) %></b>
  </div>

  <% if current_user_profile?(@user) %>
    <div class="post"> 
  
      <%= form_for(@post, html: { multipart: true }) do |f| %>
        <%= render 'shared/error_communicat', object: f.object %>
      
        <div class="form-inputs_small">
          <%= f.text_field :title, placeholder: "Title" %>    
          <%= f.file_field :picture %>  
        </div>
      
        <div class="form-actions">
          <%= f.submit "Create post", class: "btn btn-primary" %>
        </div>
      
      <% end %>
    </div>
    
  <% else %>
    
    <% if current_user && Friendship.check_friendships(@user.id, current_user.id).count == 0 %>
      <div class="invite">
      
        <%= link_to user_friendships_path(@user), method: :post do %>
          <button type="button" class="btn btn-success">Invite to friends</button>
        <% end %>
    
      </div>
    <% end %>
  <% end %>
</div>

<div class="line"><hr></div>

<div class="album"> 
  <% @posts.each do |post| %>
  
    <div class="image">
      
      <%= link_to post do %>
        <%= image_tag post.picture.url(), size: '250x250', title: post.title %>
      <% end %>
      
      <% if current_user == @user %>
        <div class="delete">
          <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </div>
      <% end %>
      
    </div>
    
  <% end %>
</div>

<div class="pagination">
  <%= render 'shared/pagination', object: @posts %>
</div>  