<% provide(:title, @post.user.name) %>
<div class="show_image">
  
  <div class="left_side">
    <%= image_tag @post.picture.url(), size: '450x550', title: @post.title %>
  </div>
  
  <div class="right_side">
    
    <div class="top">
      <div class="info">
        
        <div class="profile">
          <%= render 'shared/avatar', locals: {user: @post.user, size: "40x40"} %></br>
          <b><%= @post.user.name %></b></br>
        </div>
    
        <div class="information">
          <b><%= @post.title %></b></br>
          <i><%= time_ago_in_words(@post.created_at) %> ago.</i>
        </div>
  
      </div>

      <div class="line"><hr></div>
    
      <div class="comments">
        
        <% if @post.comments.present? %>
          <% @post.comments.each do |comment| %>
            <div class="comment">
              <%= link_to comment.user.name, comment.user %>: <%= comment.body %>
            </div>
          <% end %>
        <% else %>
          <i>No comments yet.</i>
        <% end %>
        
      </div>
    </div>
    
    <div class="down">
      
      <% if current_user %>
        <%= form_for([@post, Comment.new]) do |f| %>
        
          <div class="form-inputs">
            <%= f.text_field :body, maxlength: 400, placeholder: "Comment..." %>    
          </div>
          <div class="form-actions">
            <%= f.submit "Add Comment", class: "btn btn-primary btn-sm" %>
          </div>
          
        <% end %>
        
      <% else %>
        <div class="line"><hr></div>
        <div class="login">
          <%= link_to "Log in", login_path %> to comment this post
        </div>  
      <% end %>
      
    </div>
  </div>
</div>
