<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <%= link_to "Focus",   home_path, class: "navbar-brand"  %>
      </div>
      
      <div id="navbar" class="navbar-collapse collapse">
        
        <% if current_user %>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Users", users_path %></li>
            <li>
              <%= link_to user_friendships_path(current_user), method: :get do %>
                Friends<%= "(#{current_user.received_invitations.count})" if current_user.received_invitations.count > 0 %>
              <% end %>
            </li>
        <!--  <div class="navbar-search">
            <%= form_tag(users_path, :method => "get", id: "search-form", class: "navbar-form navbar-left") do %>
              <%= text_field_tag :search, "", class: "form-control input-sm", placeholder: "Search..." %>
              <%= submit_tag "Search", class: "btn btn-default btn-sm" %>
            <% end %>
          </div> -->
          </ul>
        <% end %>
        
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          <% else %>  
            <li><%= link_to "Sign up", signup_path %></li>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>  
</header>